<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visio-Shapes</title>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/fonts.css')}}"/>
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<body>
    <h1>ClipTeleporter</h1>
    <p>Share your clipboard over the internet.</p>
    <p>Clip counter: {{clip_counter}}</p>
</body>
</html>